*{
margin:0;
padding:0;
box-sizing:border-box;
}

:root {
    --negro: #091413;
    --verde-bosque: #285a48;
    --verde-medio: #408a71;
    --verde-clarito: #b0e4cc;

}

html {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url(../img/fondoweb.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;

}

#titulox {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--verde-clarito);
    justify-self: center;
}

#ptit {
    justify-self: center;
    color: var(--verde-clarito);
}

#logo {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--verde-clarito);
}

h1 img {
    vertical-align: middle;
    margin: 10px;
}

#auto-baner {
    display: block;
    background-image: url(../img/auto-baner.webp);
    background-size: cover;
    background-position: center;
    color: black;
    width: 100vw;

}

nav {
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 5px;
    margin: 5px;

}

.align-items-start {
    list-style-type: none;
}

.col {
    margin: 4px;
    padding: 2px;
}

main {
    color: aliceblue;
    margin: 0%;
    padding: 5px;
    flex: 1 1 auto;
}

h3 {
    margin: 5px;
    padding: 5px;
}

p {
    margin: 5px;
    padding: 5px;
}

#linea1 {
    color: var(--verde-clarito);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 5px;
}

#linea1>p {
    margin: 0;
    padding: 0;
}

#grilla-servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* align-items: center; los alinea verticalmente */
    justify-content: space-evenly
        /* los alinea horizontalmente */
}

li>.col {
    margin: 2px;
    padding: 1px;
}

li:hover {
    transform: scale(1.05);
}

#carouselExampleIndicators {
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2rem;
}

#logo {
    border: 4px double var(--verde-medio);
    border-radius: 50%;
}

/*

#descrip {  
    border: 2px solid beige;
    margin: 2px;
    padding: 2px;
}

#tarjeta {
    border: 2px solid beige;
    margin: 0px;
    padding: 0px;
}
    
 */

.formulario {
    width: 50vw;
    justify-self: center;
}

.form {
    justify-self: center;
    width: 25vw;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: var(--verde-bosque);
    color: var(--verde-clarito);
}

.form>div {
    margin: 5px;
    padding: 5px;
}

#cardfondo>div {
    background-color:
        transparent;
}

#cardfondo {
    border: 2px solid #408a71;
    background-color:
        rgba(0, 0, 0, 0);
}

.servicios {
    background-color: transparent;
}
footer {
    background-color: var(--verde-clarito);
    color:var(--negro);
    margin-top: 100px;
    padding: 10px;
}
footer > ul {
    display:flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
footer > ul > li {
    margin: 5px;
    padding: 5px;
}
i {
  font-size: 24px;
  margin: 5px;
  color: #333;
}

.fa-whatsapp {
  color: #25D366;
}

.fa-github {
  color: black;
}
@media screen and (max-width: 768px) {

    .formulario {
        width: 90vw;
    }
}
