:root {
    --negro: #091413;
    --verde-bosque:#285a48;
    --verde-medio:#408a71; 
    --verde-clarito:#b0e4cc;

}
body {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: darkslateblue;
    background-image: url(../img/fondoweb.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    width: 100vw;
}

#titulox {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
#logo {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 img {
    vertical-align: middle;
    margin: 10px;
}

#auto-baner {
    display: block;
    background-image: url(../img/auto-baner.webp);
    background-size: cover;
    background-position: center;
    color: black;
    width: 100vw;

}

nav {
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0;
    margin: 5px;

}

.align-items-start {
    list-style-type: none;
}

.col {
    margin: 4px;
    padding: 2px;
}

main {
    color: aliceblue;
    margin: 5px;
    padding: 5px;
}

h3 {
    margin: 5px;
    padding: 5px;
}

p {
    margin: 5px;
    padding: 5px;
}

#linea1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 5px;
}

#linea1>p {
    margin: 0;
    padding: 0;
}

#grilla-servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* align-items: center; los alinea verticalmente */
    justify-content: space-evenly
        /* los alinea horizontalmente */
}



li:hover {
    transform: scale(1.05);
}

#carouselExampleIndicators {
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2rem;
}

#logo {
    border-radius: 50%;
}
 
/*

#descrip {  
    border: 2px solid beige;
    margin: 2px;
    padding: 2px;
}

#tarjeta {
    border: 2px solid beige;
    margin: 0px;
    padding: 0px;
}
    
 */

.formulario {
    width: 50vw;
    justify-self: center;
}

.form {
    justify-self: center;
}

@media screen and (max-width: 768px) {
    
    .formulario {
        width: 90vw;
    }
}