h1 img {
    vertical-align: middle;
margin: 10px;
}

header {
    background-image: url(auto1.webp);
    background-size: cover;
    background-position: center;
    color: black;
    padding: 40px;
}
